<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /* border: 3px solid #fd6378; */
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>

<div>
  <p>
    Hi, I'm <strong>Jordan</strong>>
  </p>
</div>
